.contractInfo {
}
.contractInfo > h2 {
  margin-bottom: 1rem;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
:is(.addressDetails, .mailDetails, .phoneDetails) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
:is(
    .addressDetails span:first-child,
    .mailDetails span:first-child,
    .phoneDetails span:first-child
  ) {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 20;
}
