.companysInfo {
}
.companysInfo > h2 {
  margin-bottom: 1rem;
}
.companyContainer {
}
.companyInformation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}
.leftSide {
  min-width: 32%;
  display: flex;
  flex-direction: column;
}

.jobTimeLines {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.jobTimeLines > div {
  flex-basis: 33%;
}
.jobTimeLines div span {
  display: flex;
  justify-content: center;
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 24;
}
.companyName {
}
.designation {
  font-weight: bolder;
}

.experienceRightSide {
  min-width: 65%;
}
/* When the bowser is at maximum 566px */
@media screen and (max-width: 35.375rem) {
  .companyInformation {
    flex-direction: column;
    gap: 0rem;
    margin-bottom: 2rem;
  }

  .jobTimeLines > div {
    flex-basis: auto;
  }
}
/* When the browser is at minimum 567 and maximum 1000px */

@media screen and (min-width: 35.438rem) and (max-width: 62.5rem) {
  .companyInformation {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
}
