.skillsSection {
}
.skillsRating {
  display: flex;
  flex-wrap: wrap;
}

.skillsSection > h2 {
  margin-bottom: 1rem;
}
.skillSection {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skillName {
  flex-basis: 40%;
}

.ratingCircles {
  flex-basis: 60%;
  display: flex;
  gap: 5px;
}
.ratingCircle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
/* When the bowser is at maximum 566px */
@media screen and (max-width: 35.375rem) {
  .skillsSection {
    margin-bottom: 2rem;
  }
  .skillsRating {
    flex-direction: column;
    gap: 0.5rem;
  }

  .skillSection {
    align-items: baseline;
  }
}
/* When the browser is at minimum 567 and maximum 1000px */

@media screen and (min-width: 35.438rem) and (max-width: 62.5rem) {
  .skillsSection {
    margin-bottom: 2rem;
  }
  .skillSection {
    gap: 0.5rem;
  }
  .skillsRating {
    flex-direction: column;
    gap: 0.5rem;
  }
}
