.skillsSection {
}
.skillsRating {
  display: flex;
  flex-wrap: wrap;
}

.skillsSection > h2 {
  margin-bottom: 1rem;
}
.skillSection {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skillName {
  flex-basis: 40%;
}

.ratingCircles {
  flex-basis: 60%;
  display: flex;
  gap: 5px;
}
.ratingCircle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
