.customizeCvContainer {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
}
.description {
}
.customization {
}
:is(.description, .customization) {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: 100%;
    padding: 0.25rem;
    border-radius: 0.75rem;
}
[data-selected="true"] {
    background-color: #ebecef;
    color: #0e374e;
}
[data-selected="false"] {
    background-color: #fff;
}
