.cvDataControlContainer {
    display: flex;
    padding: 1rem 0.5rem;
    justify-content: space-around;
    gap: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
}
.clearBtn {
    color: #fc5050;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadBtn {
    background-color: #ebecef;
    padding: 0.25rem;
    text-align: center;
    border-radius: 0.5rem;
}
.pdfDownloaderImg {
    max-width: 2rem;
    max-height: 2rem;
}
:is(.clearBtn, .loadBtn, .pdfDownloaderImg) {
    cursor: pointer;
    min-width: fit-content;
}
