.cvPreview {
  width: 100%;
  padding: 5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  --shadow-color: 286deg 36% 56%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
}

.cvPreviewHeader {
  display: flex;
}
.cvPreviewHeaderLeft {
  flex-basis: 30%;
}
.cvPreviewHeaderRight {
  flex-basis: 70%;
}

.cvPreviewMain {
  display: flex;
}

.cvPreviewLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-basis: 30%;
}

.cvPreviewRight {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-basis: 70%;
}
/* When the browser is at maximum 566px */
@media screen and (max-width: 35.375rem) {
  .cvPreview {
    padding: 2rem;
  }
  .cvPreviewHeader {
    flex-direction: column;
  }
  .cvPreviewMain {
    flex-direction: column;
  }
  .cvPreviewLeft {
    order: 1;
  }
}
