.instituteName {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.25rem;
    border-bottom: 5px solid #f3f4f6;
    cursor: pointer;
}
