.toggleSection {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    overflow: hidden;
}
.toggleButton {
    background: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 2rem 1rem;
}
.toggleButton > .sectionNameIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.5rem;
}
.toggleChild {
    background-color: #fff;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
